@import url('https://fonts.google.com/specimen/Poppins');

*{
	box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;
	background-color: hsl(0, 0%, 98%);
	font-family: [Poppins];
}

.header1{
	width: 35%;
	margin: auto;
	margin-top: 70px;
	text-align: center;
	font-size: 28px;
	line-height: 10px;
}

.header1 .bold{
	font-weight: 900;
	font-size: 30px;
	color: hsl(234, 12%, 34%);
}

.header2{
	width: 28%;
	margin: auto;
	margin-top: 30px;
	text-align: center;
	font-size: 15px;
}


.flexbox1{
	width: 65%;
	margin: auto;
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.flexbox1 > div {
	flex-direction: column;
	width: 30%;
	margin: auto;
}

.flexbox2{
	display: flex;
	width: 100%;
	flex-direction: column;
}

.flexbox2 > div {
	flex-direction: column;
	width: 100%;
	margin-top: 20px;
}

h4{
	color: hsl(234, 12%, 34%);
	font-weight: 600;
	font-size: 20px;
}

.supervisor{
	padding-left: 20px;
	border-radius: 5px;
	border-top: 5px solid hsl(180, 62%, 55%);
	background-color: white;
	box-shadow:  0px 10px 15px hsl(229, 6%, 66%);
}

img{
	width: 40px;
}

.supervisor_bottom{
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
}

.team{
	padding-left: 20px;
	border-radius: 5px;
	border-top: 5px solid hsl(0, 78%, 62%);
	background-color: white;
	box-shadow:  0 10px 15px hsl(229, 6%, 66%);
}

.team_bottom{
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
}

.karma{
	padding-left: 20px;
	border-radius: 5px;
	border-top: 5px solid hsl(34, 97%, 64%);
	background-color: white;
	box-shadow:  0 10px 15px hsl(229, 6%, 66%);
}

.karma_bottom{
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
}

.calculator{
	padding-left: 20px;
	border-radius: 5px;
	border-top: 5px solid hsl(212, 86%, 64%);
	background-color: white;
	box-shadow:  0 10px 15px hsl(229, 6%, 66%);
}

.calculator_bottom{
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
}


@media only screen and (max-width: 375px){
	.flexbox1{
		flex-direction: column;
		width: 90%;
		padding-bottom: 30px;
	}

	.flexbox1 > div {
		width: 100%;
	}

	.flexbox2{
		width: 100%;
		margin-bottom: 20px;
	}

	.header1{
		width: 90%;
		font-size: 20px;
	}

	.header1 .bold{
		font-size: 22px;
	}

	.header2{
		width: 90%;
		font-size: 14px;
	}




}